<% layout('../../layout') -%>

<% script('http://code.highcharts.com/highcharts.js') %>
<% script('http://code.highcharts.com/modules/exporting.js') %>
<% script('/js/base/index.js') %>

<ul class="nav nav-tabs">
    <li class="active"><a href="#container_graph_application_version" data-toggle="tab">Application Version</a></li>
    <li><a href="#container_graph_android_version" data-toggle="tab">Android Version</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="container_graph_application_version"><div id="graph_application_version" style="width: 800px; height: 400px; margin: 0 auto"></div></div>
    <div class="tab-pane" id="container_graph_android_version"><div id="graph_android_version" style="width: 800px; height: 400px; margin: 0 auto"></div></div>
</div>

